In [ ]:
import pandas as pd

data = pd.read_csv("salaries_by_college_major.csv")

:

In [1]:
import pandas as pd

data = pd.read_csv("C:/Users/Front Desk/Documents/Niyi/100DaysOfPythonCoding/#Day71/salaries_by_college_major.csv")

In [2]:
data.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,41600.0,76800.0,50600.0,136000.0,Business

In [3]:
data.tail()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS
50,Source: PayScale Inc.,NaN,NaN,NaN,NaN,NaN

In [4]:
data.isna()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
5,False,False,False,False,False,False
6,False,False,False,False,False,False
7,False,False,False,False,False,False
8,False,False,False,False,False,False
9,False,False,False,False,False,False
10,False,False,False,False,False,False
11,False,False,False,False,False,False
12,False,False,False,False,False,False
13,False,False,False,False,False,False
14,False,False,False,False,False,False
15,False,False,False,False,False,False
16,False,False,False,False,False,False
17,False,False,False,False,False,False
18,False,False,False,False,False,False
19,False,False,False,False,False,False
20,False,False,False,False,False,False
21,False,False,False,False,False,False
22,False,False,False,False,False,False
23,False,False,False,False,False,False
24,False,False,False,False,False,False
25,False,False,False,False,False,False
26,False,False,False,False,False,False
27,False,False,False,False,False,False
28,False,False,False,False,False,False
29,False,False,False,False,False,False
30,False,False,False,False,False,False
31,False,False,False,False,False,False
32,False,False,False,False,False,False
33,False,False,False,False,False,False
34,False,False,False,False,False,False
35,False,False,False,False,False,False
36,False,False,False,False,False,False
37,False,False,False,False,False,False
38,False,False,False,False,False,False
39,False,False,False,False,False,False
40,False,False,False,False,False,False
41,False,False,False,False,False,False
42,False,False,False,False,False,False
43,False,False,False,False,False,False
44,False,False,False,False,False,False
45,False,False,False,False,False,False
46,False,False,False,False,False,False
47,False,False,False,False,False,False
48,False,False,False,False,False,False
49,False,False,False,False,False,False
50,False,True,True,True,True,True

In [5]:
data.dropna()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,41600.0,76800.0,50600.0,136000.0,Business
5,Art History,35800.0,64900.0,28800.0,125000.0,HASS
6,Biology,38800.0,64800.0,36900.0,135000.0,STEM
7,Business Management,43000.0,72100.0,38800.0,147000.0,Business
8,Chemical Engineering,63200.0,107000.0,71900.0,194000.0,STEM
9,Chemistry,42600.0,79900.0,45300.0,148000.0,STEM
10,Civil Engineering,53900.0,90500.0,63400.0,148000.0,STEM
11,Communications,38100.0,70000.0,37500.0,143000.0,HASS
12,Computer Engineering,61400.0,105000.0,66100.0,162000.0,STEM
13,Computer Science,55900.0,95500.0,56000.0,154000.0,STEM
14,Construction,53700.0,88900.0,56300.0,171000.0,Business
15,Criminal Justice,35000.0,56300.0,32200.0,107000.0,HASS
16,Drama,35900.0,56900.0,36700.0,153000.0,HASS
17,Economics,50100.0,98600.0,50600.0,210000.0,Business
18,Education,34900.0,52000.0,29300.0,102000.0,HASS
19,Electrical Engineering,60900.0,103000.0,69300.0,168000.0,STEM
20,English,38000.0,64700.0,33400.0,133000.0,HASS
21,Film,37900.0,68500.0,33900.0,136000.0,HASS
22,Finance,47900.0,88300.0,47200.0,195000.0,Business
23,Forestry,39100.0,62600.0,41000.0,111000.0,Business
24,Geography,41200.0,65500.0,40000.0,132000.0,HASS
25,Geology,43500.0,79500.0,45000.0,156000.0,STEM
26,Graphic Design,35700.0,59800.0,36000.0,112000.0,HASS
27,Health Care Administration,38800.0,60600.0,34600.0,101000.0,Business
28,History,39200.0,71000.0,37000.0,149000.0,HASS
29,Hospitality & Tourism,37800.0,57500.0,35500.0,124000.0,Business
30,Industrial Engineering,57700.0,94700.0,57100.0,173000.0,STEM
31,Information Technology (IT),49100.0,74800.0,44500.0,129000.0,STEM
32,Interior Design,36100.0,53200.0,35700.0,107000.0,HASS
33,International Relations,40900.0,80900.0,38200.0,157000.0,HASS
34,Journalism,35600.0,66700.0,38400.0,145000.0,HASS
35,Management Information Systems (MIS),49200.0,82300.0,45300.0,146000.0,STEM
36,Marketing,40800.0,79600.0,42100.0,175000.0,Business
37,Math,45400.0,92400.0,45200.0,183000.0,STEM
38,Mechanical Engineering,57900.0,93600.0,63700.0,163000.0,STEM
39,Music,35900.0,55000.0,26700.0,134000.0,HASS
40,Nursing,54200.0,67000.0,47600.0,98300.0,Business
41,Nutrition,39900.0,55300.0,33900.0,99200.0,HASS
42,Philosophy,39900.0,81200.0,35500.0,168000.0,HASS
43,Physician Assistant,74300.0,91700.0,66400.0,124000.0,STEM
44,Physics,50300.0,97300.0,56000.0,178000.0,STEM
45,Political Science,40800.0,78200.0,41200.0,168000.0,HASS
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS

In [6]:
clean_data = data.dropna()

In [7]:
clean_data.tail()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
45,Political Science,40800.0,78200.0,41200.0,168000.0,HASS
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS

In [8]:
data.tail()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS
50,Source: PayScale Inc.,NaN,NaN,NaN,NaN,NaN

In [9]:
clean_data.shape

(50, 6)

In [10]:
clean_data.column

AttributeError: 'DataFrame' object has no attribute 'column'

In [11]:
clean_data.columns

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

In [12]:
clean_data["Mid-Career 90th Percentile Salary"]

0     152000.0
1     161000.0
2     150000.0
3     138000.0
4     136000.0
5     125000.0
6     135000.0
7     147000.0
8     194000.0
9     148000.0
10    148000.0
11    143000.0
12    162000.0
13    154000.0
14    171000.0
15    107000.0
16    153000.0
17    210000.0
18    102000.0
19    168000.0
20    133000.0
21    136000.0
22    195000.0
23    111000.0
24    132000.0
25    156000.0
26    112000.0
27    101000.0
28    149000.0
29    124000.0
30    173000.0
31    129000.0
32    107000.0
33    157000.0
34    145000.0
35    146000.0
36    175000.0
37    183000.0
38    163000.0
39    134000.0
40     98300.0
41     99200.0
42    168000.0
43    124000.0
44    178000.0
45    168000.0
46    127000.0
47     96400.0
48    118000.0
49     96400.0
Name: Mid-Career 90th Percentile Salary, dtype: float64

In [13]:
clean_data["Mid-Career 90th Percentile Salary"].max()

210000.0

In [14]:
clean_data["Mid-Career 90th Percentile Salary"].idxmax()

17

In [15]:
clean_data["Undergraduate Major"][17]

'Economics'

In [16]:
clean_data['Mid-Career 90th Percentile Salary'] - clean_data['Mid-Career 10th Percentile Salary']

0     109800.0
1      96700.0
2     113700.0
3     104200.0
4      85400.0
5      96200.0
6      98100.0
7     108200.0
8     122100.0
9     102700.0
10     84600.0
11    105500.0
12     95900.0
13     98000.0
14    114700.0
15     74800.0
16    116300.0
17    159400.0
18     72700.0
19     98700.0
20     99600.0
21    102100.0
22    147800.0
23     70000.0
24     92000.0
25    111000.0
26     76000.0
27     66400.0
28    112000.0
29     88500.0
30    115900.0
31     84500.0
32     71300.0
33    118800.0
34    106600.0
35    100700.0
36    132900.0
37    137800.0
38     99300.0
39    107300.0
40     50700.0
41     65300.0
42    132500.0
43     57600.0
44    122000.0
45    126800.0
46     95400.0
47     66700.0
48     87300.0
49     65400.0
dtype: float64

In [17]:
clean_data['Mid-Career 90th Percentile Salary'].subtract(clean_data['Mid-Career 10th Percentile Salary'])

0     109800.0
1      96700.0
2     113700.0
3     104200.0
4      85400.0
5      96200.0
6      98100.0
7     108200.0
8     122100.0
9     102700.0
10     84600.0
11    105500.0
12     95900.0
13     98000.0
14    114700.0
15     74800.0
16    116300.0
17    159400.0
18     72700.0
19     98700.0
20     99600.0
21    102100.0
22    147800.0
23     70000.0
24     92000.0
25    111000.0
26     76000.0
27     66400.0
28    112000.0
29     88500.0
30    115900.0
31     84500.0
32     71300.0
33    118800.0
34    106600.0
35    100700.0
36    132900.0
37    137800.0
38     99300.0
39    107300.0
40     50700.0
41     65300.0
42    132500.0
43     57600.0
44    122000.0
45    126800.0
46     95400.0
47     66700.0
48     87300.0
49     65400.0
dtype: float64

In [18]:
spread_col = clean_data['Mid-Career 90th Percentile Salary'].subtract(clean_data['Mid-Career 10th Percentile Salary'])
clean_data.insert(1, 'Spread', spread_col)
clean_data.head()

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,109800.0,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,96700.0,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,113700.0,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,104200.0,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,85400.0,41600.0,76800.0,50600.0,136000.0,Business

In [19]:
low_risk = clean_data.sort_values('Spread')
low_risk[['Undergraduate Major', 'Spread']].head()

           Undergraduate Major   Spread
40                     Nursing  50700.0
43         Physician Assistant  57600.0
41                   Nutrition  65300.0
49                     Spanish  65400.0
27  Health Care Administration  66400.0

In [20]:
low_risk = clean_data.sort_values('Spread')
low_risk.head()

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
40,Nursing,50700.0,54200.0,67000.0,47600.0,98300.0,Business
43,Physician Assistant,57600.0,74300.0,91700.0,66400.0,124000.0,STEM
41,Nutrition,65300.0,39900.0,55300.0,33900.0,99200.0,HASS
49,Spanish,65400.0,34000.0,53100.0,31000.0,96400.0,HASS
27,Health Care Administration,66400.0,38800.0,60600.0,34600.0,101000.0,Business

In [21]:
low_risk = clean_data.sort_values('Spread', ascending=False)
low_risk.head()

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
17,Economics,159400.0,50100.0,98600.0,50600.0,210000.0,Business
22,Finance,147800.0,47900.0,88300.0,47200.0,195000.0,Business
37,Math,137800.0,45400.0,92400.0,45200.0,183000.0,STEM
36,Marketing,132900.0,40800.0,79600.0,42100.0,175000.0,Business
42,Philosophy,132500.0,39900.0,81200.0,35500.0,168000.0,HASS

In [22]:
top_90th_percentile = clean_data.sort_values('Mid-Career 90th Percentile Salary', ascending=False)

In [23]:
top_90th_percentile.head()

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
17,Economics,159400.0,50100.0,98600.0,50600.0,210000.0,Business
22,Finance,147800.0,47900.0,88300.0,47200.0,195000.0,Business
8,Chemical Engineering,122100.0,63200.0,107000.0,71900.0,194000.0,STEM
37,Math,137800.0,45400.0,92400.0,45200.0,183000.0,STEM
44,Physics,122000.0,50300.0,97300.0,56000.0,178000.0,STEM

In [24]:
highest_potential = clean_data.sort_values('Mid-Career 90th Percentile Salary', ascending=False)
highest_potential[['Undergraduate Major', 'Mid-Career 90th Percentile Salary']].head()

     Undergraduate Major  Mid-Career 90th Percentile Salary
17             Economics                           210000.0
22               Finance                           195000.0
8   Chemical Engineering                           194000.0
37                  Math                           183000.0
44               Physics                           178000.0

In [28]:
highest_potential = clean_data.sort_values("Mid-Career 90th Percentile Salary", ascending=False)
highest_potential[["Undergraduate Major", "Mid-Career 90th Percentile Salary"]].head()

     Undergraduate Major  Mid-Career 90th Percentile Salary
17             Economics                           210000.0
22               Finance                           195000.0
8   Chemical Engineering                           194000.0
37                  Math                           183000.0
44               Physics                           178000.0

In [29]:
highest_spread = clean_data.sort_values('Spread', ascending=False)
highest_spread[['Undergraduate Major', 'Spread']].head()

   Undergraduate Major    Spread
17           Economics  159400.0
22             Finance  147800.0
37                Math  137800.0
36           Marketing  132900.0
42          Philosophy  132500.0

In [30]:
clean_data.groupby("Group")

In [31]:
clean_data.groupby("Group").count()

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,,,
Business,12,12,12,12,12,12
HASS,22,22,22,22,22,22
STEM,16,16,16,16,16,16

In [32]:
grouped_data = clean_data.groupby("Group").count()
grouped_data[['Undergraduate Major']]

          Undergraduate Major
Group
Business                   12
HASS                       22
STEM                       16

In [33]:
grouped_data = clean_data.groupby("Group").count()
grouped_data['Undergraduate Major']

Group
Business    12
HASS        22
STEM        16
Name: Undergraduate Major, dtype: int64

In [34]:
grouped_data = clean_data.groupby("Group").count()
grouped_data[['Undergraduate Major']]

          Undergraduate Major
Group
Business                   12
HASS                       22
STEM                       16

In [35]:
grouped_data = clean_data.groupby("Group").mean()

TypeError: agg function failed [how->mean,dtype->object]

In [36]:
grouped_data.mean()

Undergraduate Major                  16.666667
Spread                               16.666667
Starting Median Salary               16.666667
Mid-Career Median Salary             16.666667
Mid-Career 10th Percentile Salary    16.666667
Mid-Career 90th Percentile Salary    16.666667
dtype: float64

In [37]:
grouped_data = clean_data.groupby("Group").count()
grouped_data['Undergraduate Major'].mean()

16.666666666666668

In [38]:
clean_data.mean()

TypeError: Could not convert ['AccountingAerospace EngineeringAgricultureAnthropologyArchitectureArt HistoryBiologyBusiness ManagementChemical EngineeringChemistryCivil EngineeringCommunicationsComputer EngineeringComputer ScienceConstructionCriminal JusticeDramaEconomicsEducationElectrical EngineeringEnglishFilmFinanceForestryGeographyGeologyGraphic DesignHealth Care AdministrationHistoryHospitality & TourismIndustrial EngineeringInformation Technology (IT)Interior DesignInternational RelationsJournalismManagement Information Systems (MIS)MarketingMathMechanical EngineeringMusicNursingNutritionPhilosophyPhysician AssistantPhysicsPolitical SciencePsychologyReligionSociologySpanish'
 'BusinessSTEMBusinessHASSBusinessHASSSTEMBusinessSTEMSTEMSTEMHASSSTEMSTEMBusinessHASSHASSBusinessHASSSTEMHASSHASSBusinessBusinessHASSSTEMHASSBusinessHASSBusinessSTEMSTEMHASSHASSHASSSTEMBusinessSTEMSTEMHASSBusinessHASSHASSSTEMSTEMHASSHASSHASSHASSHASS'] to numeric

In [39]:
grouped_data = clean_data.groupby("Group").mean()

TypeError: agg function failed [how->mean,dtype->object]

In [40]:
clean_data.groupby('Group').mean()

TypeError: agg function failed [how->mean,dtype->object]

In [41]:
pd.options.display.float_format = '{:,.2f}'.format
clean_data.groupby('Group').mean()

TypeError: agg function failed [how->mean,dtype->object]

In [42]:
clean_data

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,"109,800.00","46,000.00","77,100.00","42,200.00","152,000.00",Business
1,Aerospace Engineering,"96,700.00","57,700.00","101,000.00","64,300.00","161,000.00",STEM
2,Agriculture,"113,700.00","42,600.00","71,900.00","36,300.00","150,000.00",Business
3,Anthropology,"104,200.00","36,800.00","61,500.00","33,800.00","138,000.00",HASS
4,Architecture,"85,400.00","41,600.00","76,800.00","50,600.00","136,000.00",Business
5,Art History,"96,200.00","35,800.00","64,900.00","28,800.00","125,000.00",HASS
6,Biology,"98,100.00","38,800.00","64,800.00","36,900.00","135,000.00",STEM
7,Business Management,"108,200.00","43,000.00","72,100.00","38,800.00","147,000.00",Business
8,Chemical Engineering,"122,100.00","63,200.00","107,000.00","71,900.00","194,000.00",STEM
9,Chemistry,"102,700.00","42,600.00","79,900.00","45,300.00","148,000.00",STEM
10,Civil Engineering,"84,600.00","53,900.00","90,500.00","63,400.00","148,000.00",STEM
11,Communications,"105,500.00","38,100.00","70,000.00","37,500.00","143,000.00",HASS
12,Computer Engineering,"95,900.00","61,400.00","105,000.00","66,100.00","162,000.00",STEM
13,Computer Science,"98,000.00","55,900.00","95,500.00","56,000.00","154,000.00",STEM
14,Construction,"114,700.00","53,700.00","88,900.00","56,300.00","171,000.00",Business
15,Criminal Justice,"74,800.00","35,000.00","56,300.00","32,200.00","107,000.00",HASS
16,Drama,"116,300.00","35,900.00","56,900.00","36,700.00","153,000.00",HASS
17,Economics,"159,400.00","50,100.00","98,600.00","50,600.00","210,000.00",Business
18,Education,"72,700.00","34,900.00","52,000.00","29,300.00","102,000.00",HASS
19,Electrical Engineering,"98,700.00","60,900.00","103,000.00","69,300.00","168,000.00",STEM
20,English,"99,600.00","38,000.00","64,700.00","33,400.00","133,000.00",HASS
21,Film,"102,100.00","37,900.00","68,500.00","33,900.00","136,000.00",HASS
22,Finance,"147,800.00","47,900.00","88,300.00","47,200.00","195,000.00",Business
23,Forestry,"70,000.00","39,100.00","62,600.00","41,000.00","111,000.00",Business
24,Geography,"92,000.00","41,200.00","65,500.00","40,000.00","132,000.00",HASS
25,Geology,"111,000.00","43,500.00","79,500.00","45,000.00","156,000.00",STEM
26,Graphic Design,"76,000.00","35,700.00","59,800.00","36,000.00","112,000.00",HASS
27,Health Care Administration,"66,400.00","38,800.00","60,600.00","34,600.00","101,000.00",Business
28,History,"112,000.00","39,200.00","71,000.00","37,000.00","149,000.00",HASS
29,Hospitality & Tourism,"88,500.00","37,800.00","57,500.00","35,500.00","124,000.00",Business
30,Industrial Engineering,"115,900.00","57,700.00","94,700.00","57,100.00","173,000.00",STEM
31,Information Technology (IT),"84,500.00","49,100.00","74,800.00","44,500.00","129,000.00",STEM
32,Interior Design,"71,300.00","36,100.00","53,200.00","35,700.00","107,000.00",HASS
33,International Relations,"118,800.00","40,900.00","80,900.00","38,200.00","157,000.00",HASS
34,Journalism,"106,600.00","35,600.00","66,700.00","38,400.00","145,000.00",HASS
35,Management Information Systems (MIS),"100,700.00","49,200.00","82,300.00","45,300.00","146,000.00",STEM
36,Marketing,"132,900.00","40,800.00","79,600.00","42,100.00","175,000.00",Business
37,Math,"137,800.00","45,400.00","92,400.00","45,200.00","183,000.00",STEM
38,Mechanical Engineering,"99,300.00","57,900.00","93,600.00","63,700.00","163,000.00",STEM
39,Music,"107,300.00","35,900.00","55,000.00","26,700.00","134,000.00",HASS
40,Nursing,"50,700.00","54,200.00","67,000.00","47,600.00","98,300.00",Business
41,Nutrition,"65,300.00","39,900.00","55,300.00","33,900.00","99,200.00",HASS
42,Philosophy,"132,500.00","39,900.00","81,200.00","35,500.00","168,000.00",HASS
43,Physician Assistant,"57,600.00","74,300.00","91,700.00","66,400.00","124,000.00",STEM
44,Physics,"122,000.00","50,300.00","97,300.00","56,000.00","178,000.00",STEM
45,Political Science,"126,800.00","40,800.00","78,200.00","41,200.00","168,000.00",HASS
46,Psychology,"95,400.00","35,900.00","60,400.00","31,600.00","127,000.00",HASS
47,Religion,"66,700.00","34,100.00","52,000.00","29,700.00","96,400.00",HASS
48,Sociology,"87,300.00","36,500.00","58,200.00","30,700.00","118,000.00",HASS
49,Spanish,"65,400.00","34,000.00","53,100.00","31,000.00","96,400.00",HASS

In [43]:
group_data = clean_data.groupby("Group")
group_data.mean()

TypeError: agg function failed [how->mean,dtype->object]

In [44]:
group_data = clean_data.groupby("Group")
group_data

In [46]:
clean_data.groupby("Group").mean()

TypeError: agg function failed [how->mean,dtype->object]

In [47]:
clean_data.groupby("Group")

In [48]:
print(clean_data.groupby("Group"))

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001791DC8E510>

In [49]:
clean_data.groupby(["Group"])